[Bb]in
[Oo]bj

.git
.github
.vs
PvZWSTools_WPF/Properties
PvZWSTools_Xamarin/Assets/need.zip
update
.editorconfig
.gitattributes
pyrightconfig.json
*.user
.zip
.pubxml
.fake
.vscode
global.json
*.keystore